<% byebug %>

<div class="proposal_custom_field" id="proposa-custom-field-<%= name %>" data-spec="<%= spec.to_json %>" data-name="<%= "#{form.object_name}[#{name}]" %>">
  <div class="loading-spinner"></div>
</div>

<%= form.hidden_field name %>
<%= form.error_for name %>
