<% content_for :secondary_nav do %>
  <div class="secondary-nav">
    <div class="secondary-nav__title">
      <%= t ".title" %>
    </div>

    <ul>
      <% if config_enabled?([:allow_images_in_full_editor, :allow_images_in_small_editor, :use_markdown_editor,
:allow_images_in_markdown_editor]) %>
        <li <% if is_active_link?(decidim_admin_decidim_awesome.config_path(:editors)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.editors", scope: "decidim.decidim_awesome.admin"), decidim_admin_decidim_awesome.config_path(:editors) %>
        </li>
      <% end %>
      <% if config_enabled? :auto_save_forms %>
        <li <% if is_active_link?(decidim_admin_decidim_awesome.config_path(:surveys)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.surveys", scope: "decidim.decidim_awesome.admin"), decidim_admin_decidim_awesome.config_path(:surveys) %>
        </li>
      <% end %>
      <% if config_enabled? :scoped_styles %>
        <li <% if is_active_link?(decidim_admin_decidim_awesome.config_path(:styles)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.styles", scope: "decidim.decidim_awesome.admin"), decidim_admin_decidim_awesome.config_path(:styles) %>
        </li>
      <% end %>
      <% if config_enabled? :allow_images_in_proposals %>
        <li <% if is_active_link?(decidim_admin_decidim_awesome.config_path(:proposals)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.proposals", scope: "decidim.decidim_awesome.admin"), decidim_admin_decidim_awesome.config_path(:proposals) %>
        </li>
      <% end %>
      <% if config_enabled? :menu_hacks %>
        <li <% if is_active_link?(decidim_admin_decidim_awesome.config_path(:menu_hacks)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.menu_hacks", scope: "decidim.decidim_awesome.admin"), decidim_admin_decidim_awesome.config_path(:menu_hacks) %>
        </li>
      <% end %>
      <% if config_enabled?([:intergram_for_admins, :intergram_for_public]) %>
        <li <% if is_active_link?(decidim_admin_decidim_awesome.config_path(:livechat)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.livechat", scope: "decidim.decidim_awesome.admin"), decidim_admin_decidim_awesome.config_path(:livechat) %>
        </li>
      <% end %>
      <li <% if is_active_link?(decidim_admin_decidim_awesome.checks_path) %> class="is-active" <% end %>>
        <%= aria_selected_link_to I18n.t("menu.checks", scope: "decidim.decidim_awesome.admin"), decidim_admin_decidim_awesome.checks_path %>
      </li>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.menu.decidim_awesome"), decidim_admin_decidim_awesome.config_path(:editors), target: "_blank" %>
    </div>
  </div>

  <%= yield %>

<div class="platoniq-credits"><%= link_to t("credits", scope: "decidim.decidim_awesome", version: awesome_version), "https://github.com/Platoniq/decidim-module-decidim_awesome/" %></div>

<% end %>
