<div class="row column">
  <p class="help-text"><%= t ".help.drag_and_drop_supported" %></p>
  <%= form.check_box :allow_images_in_full_editor, autofocus: true %>
  <p class="help-text"><%= t ".help.allow_images_in_full_editor" %></p>
  <%= form.check_box :allow_images_in_small_editor, autofocus: true %>
  <p class="help-text"><%= t ".help.allow_images_in_small_editor" %></p>
</div>
