
<div class="row column">
  <p class="help-text"><%= t ".help.drag_and_drop_supported" %></p>
  <h2 class="card-title"><%= t("admin_space", scope: "decidim.decidim_awesome.admin.editors") %></h2>

  <%= form.check_box :allow_images_in_full_editor %>
  <p class="help-text"><%= t ".help.allow_images_in_full_editor" %></p>
  <%= form.check_box :allow_images_in_small_editor %>
  <p class="help-text"><%= t ".help.allow_images_in_small_editor" %></p>

  <h2 class="card-title"><%= t("proposals_space", scope: "decidim.decidim_awesome.admin.editors") %></h2>
  <p class="help-text"><%= t ".help.proposals_space" %></p>

  <%= form.check_box :allow_images_in_proposals %>
  <p class="help-text"><%= t ".help.allow_images_in_proposals" %></p>

  <%= form.check_box :use_markdown_in_proposals %>
  <p class="help-text"><%= t ".help.use_markdown_in_proposals" %></p>

</div>
