<% if has_link_to_resource? %>
  <div class="card__footer">
    <div class="card__support" style="display: block">
      <% if has_actions? %>
        <div class="flex--sbc voting-voting_cards-card" id="proposal-<%= model.id %>-votes-count"><%= cell("decidim/decidim_awesome/voting/voting_cards_counter", model) %></div>
      <% elsif has_footer? %>
        <div class="card__support__data"></div>
        <%= link_to resource_path, class: "card__button button--sc light button small" do %>
          <%= t("decidim.proposals.proposals.proposal.view_proposal") %>
          <span class="show-for-sr"><%= title %></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
