<div class="constraints-editor mb-8 mt-4" data-key="<%= key %>">
  <%= cell "decidim/announcement", "<p></p>".html_safe, hidden: true %>
  <h5 class="mb-2"><%= t ".title" %></h5>
  <% if constraints.blank? %>
    <span class="label warning"><%= t ".always" %></span>
  <% end %>

  <ul class="constraints-list<%= " inactive" if constraints&.detect{|c| c.settings["participatory_space_manifest"]=="none" } %>">
    <% constraints&.each do |constraint| %>
      <li>
        <% constraint.settings.reverse_each do |k, val| %>
          <span class="label <%= k %> constraint-<%= val %>"><%= translate_constraint_value constraint, k %></span>
        <% end %>

        <div class="inline-flex items-center gap-1 ml-10">
          <button id="<%= "edit-#{key}-#{constraint.id}" %>" type="button" name="button" class="edit-condition button button__xs button__transparent-secondary" data-dialog-open="<%= "edit-modal-#{key}" %>" data-constraints-url="<%= constraint_path(id: constraint.id, key: key) %>">
            <%= t ".edit" %>
          </button>

          <%= link_to t(".delete"), constraint_path(id: constraint.id), remote: true, method: :delete, class: "button button__xs button__transparent-primary" %>
        </div>
      </li>
    <% end %>
  </ul>

  <button id="<%= "new-#{key}" %>" type="button" name="button" class="add-condition button button__xs button__secondary" data-dialog-open="<%= "new-modal-#{key}" %>" data-constraints-url="<%= new_constraint_path(key: key) %>">
    <%= icon "add-box-line" %>
    <%= t ".add_condition" %>
  </button>

</div>

<%= decidim_modal id: "edit-modal-#{key}", class: "decidim_awesome modal", remote: true %>
<%= decidim_modal id: "new-modal-#{key}", class: "decidim_awesome modal", remote: true %>
