<%
  config_var = "authorization_groups"
  field = "authorization_group"
%>

<div class="form__wrapper row column decidim_awesome-form">
  <div class="callout warning">
    <%= t("help.verifications_html", scope: "decidim.decidim_awesome.admin.config.form") %>
  </div>

  <% form.object.authorization_groups&.each do |key, value| %>
    <div class="card p-4 js-box-container authorization_group_container" data-key="<%= key %>" data-var="<%= config_var %>">
      <%= render "decidim/decidim_awesome/admin/config/autoedit_box_label",
                 var: config_var,
                 key: key,
                 scope: "#{field}_#{key}",
                 delete_path: decidim_admin_decidim_awesome.authorization_group_path(id: key) %>

      <div>
        <p class="help-text"><%= t("help.force_authorization_after_login", scope: "decidim.decidim_awesome.admin.config.form") %></p>
        <%= form.collection_check_boxes :force_authorization_after_login, available_authorizations, :name, :fullname do |builder| %>
          <div>
            <%= builder.label { builder.check_box + builder.text } %>
            <div id="authorization-handler-<%= builder.value %>"
                 class="authorization-handler ml-6"
                 style="display: <%= form.object.force_authorization_after_login.include?(builder.value) ? "block" : "none" %>;">
              <%= render "decidim/decidim_awesome/admin/config/authorization_options_form", form: form, handler_name: builder.value %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="mt-4">
        <%= form.check_box :force_authorization_with_any_method %>
      </div>

      <div class="mt-4">
        <%= form.translated :editor, :force_authorization_help_text, lines: 10, aria: { label: :force_authorization_help_text } %>
        <p class="help-text"><%= t("help.force_authorization_help_text", scope: "decidim.decidim_awesome.admin.config.form") %></p>
      </div>

      <div class="mt-4">
        <%= render "decidim/decidim_awesome/admin/config/constraints", key: "#{field}_#{key}", constraints: constraints_for("#{field}_#{key}") || [] %>
      </div>

      <%= hidden_field_tag key, value.to_json, name: "config[#{config_var}][#{key}]" %>
    </div>
  <% end %>

  <%= link_to decidim_admin_decidim_awesome.authorization_groups_path, method: :post, class: "button button__sm button__text-secondary mr-auto" do %>
    <%= icon("add-box-line") %>
    <%= t("new", scope: "decidim.decidim_awesome.admin.config.form_authorization_groups") %>
  <% end %>
</div>
