<div class="row column decidim_awesome-form">
  <% if config_enabled? :proposal_custom_fields %>
    <p class="help-text"><%= t("help.proposal_custom_fields", scope: "decidim.decidim_awesome.admin.config.form") %></p>
    <p class="help-text"><%= t("help.proposal_custom_fields_example", scope: "decidim.decidim_awesome.admin.config.form") %></p>

    <% form.object.proposal_custom_fields&.each do |key, value| %>
      <div class="proposal-custom-field" data-key="<%= key %>">
        <%= label_tag :proposal_custom_fields do %>
          <%= t("config.proposal_custom_fields", scope: "activemodel.attributes", id: key) %>
          <%= link_to t(".remove"), decidim_admin_decidim_awesome.proposal_custom_field_path(key: key), method: :delete, class: "float-right", data: { confirm: t(".sure_to_remove") } %>
        <% end %>
        <%= text_area_tag key, value, name: "config[proposal_custom_fields][#{key}]", rows: 5 %>
        <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: "proposal_custom_field_#{key}", constraints: constraints_for("proposal_custom_field_#{key}") }) %>
      </div>
    <% end %>

    <%= link_to t(".new"), decidim_admin_decidim_awesome.proposal_custom_fields_path, method: :post %>

  <% end %>

  <hr>
  <h2 class="card-title"><%= t("experimental", scope: "decidim.decidim_awesome.admin.config") %></h2>

  <% if config_enabled? :allow_images_in_proposals %>
    <p class="text-info"><%= t("rich_text_editor_in_public_views", scope: "decidim.decidim_awesome.admin.config") if current_organization.rich_text_editor_in_public_views %></p>

    <%= form.check_box :allow_images_in_proposals %>
    <p class="help-text"><%= t("help.allow_images_in_proposals", scope: "decidim.decidim_awesome.admin.config.form") %></p>

    <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :allow_images_in_proposals, constraints: constraints_for(:allow_images_in_proposals) }) %>
  <% end %>
</div>

<%= javascript_include_tag "decidim/decidim_awesome/admin/form_exit_warn" %>
