<div class="form__wrapper row column decidim_awesome-form">
  <% if config_enabled? :scoped_styles %>
    <p><%= t("help.scoped_styles", scope: "decidim.decidim_awesome.admin.config.form") %>
      <%= t("help.scoped_styles_variables", scope: "decidim.decidim_awesome.admin.config.form") %>
    </p>
    <p style="white-space: unset">
      <% ["primary", "secondary", "tertiary", "success", "warning", "alert"].each do |color| %>
        <span class="color-box <%= color %>" style="background-color: <%= current_organization.colors[color] %>"></span>
        <code>var(--<%= color %>)</code>
      <% end %>
    </p>

    <% form.object.scoped_styles&.each do |key, value| %>
      <div class="scoped_styles_container" data-key="<%= key %>">
        <%= render(partial: "decidim/decidim_awesome/admin/config/autoedit_box_label", locals: { var: "scoped_styles", key: key, scope: "scoped_style_#{key}", delete_path: decidim_admin_decidim_awesome.scoped_style_path(key: key) }) %>
        <p class="form-error is-visible" id="custom-style-error-<%= key %>"><%= errors[key.to_sym].join("<br>") if errors %></p>
        <%= text_area_tag key, value, name: "config[scoped_styles][#{key}]", rows: 5 %>
        <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: "scoped_style_#{key}", constraints: constraints_for("scoped_style_#{key}") }) %>
      </div>
    <% end %>

    <%= link_to t("new", scope: "decidim.decidim_awesome.admin.config.form_scoped_styles"), decidim_admin_decidim_awesome.scoped_styles_path, method: :post, class: "button button__sm button__text-secondary mr-auto" %>

  <% end %>
</div>
