<div class="row column decidim_awesome-form">
  <% if config_enabled? :allow_images_in_proposals %>
    <p class="text-info"><%= t("rich_text_editor_in_public_views", scope: "decidim.decidim_awesome.admin.config") if current_organization.rich_text_editor_in_public_views %></p>

    <%= form.check_box :allow_images_in_proposals, disabled: current_organization.rich_text_editor_in_public_views %>
    <p class="help-text"><%= t("help.allow_images_in_proposals", scope: "decidim.decidim_awesome.admin.config.form") %></p>

    <% unless current_organization.rich_text_editor_in_public_views %>
      <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :allow_images_in_proposals, constraints: constraints_for(:allow_images_in_proposals) }) %>
    <% end %>
  <% end %>
</div>

<% if config_enabled? :allow_to_edit_proposals_after_import %>
  <p class="text-info"><%= t("edit_proposals_after_import", scope: "decidim.decidim_awesome.admin.config") %></p>

  <%= form.check_box :allow_to_edit_proposals_after_import %>
  <p class="help-text"><%= t("help.allow_to_edit_proposals_after_import", scope: "decidim.decidim_awesome.admin.config.form") %></p>
<% end %>

<% if config_enabled? %i(validate_title_min_length validate_title_max_caps_percent validate_title_max_marks_together validate_title_start_with_caps) %>
  </div> <!-- .card-section -->
  </div><!-- .card -->

  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t("validators.title", scope: "decidim.decidim_awesome.admin.config.form") %></h2>
    </div>
    <div class="card-section">

      <div class="row column decidim_awesome-form">
        <% if config_enabled? :validate_title_start_with_caps %>
          <%= form.check_box :validate_title_start_with_caps %>

          <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :validate_title_start_with_caps, constraints: constraints_for(:validate_title_start_with_caps) }) %>
        <% end %>

        <% if config_enabled? :validate_title_min_length %>
          <%= form.number_field :validate_title_min_length %>
          <p class="help-text"><%= t("help.validate_title_min_length", scope: "decidim.decidim_awesome.admin.config.form") %></p>

          <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :validate_title_min_length, constraints: constraints_for(:validate_title_min_length) }) %>
        <% end %>

        <% if config_enabled? :validate_title_max_caps_percent %>
          <%= form.number_field :validate_title_max_caps_percent %>
          <p class="help-text"><%= t("help.validate_title_max_caps_percent", scope: "decidim.decidim_awesome.admin.config.form") %></p>

          <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :validate_title_max_caps_percent, constraints: constraints_for(:validate_title_max_caps_percent) }) %>
        <% end %>

        <% if config_enabled? :validate_title_max_marks_together %>
          <%= form.number_field :validate_title_max_marks_together %>
          <p class="help-text"><%= t("help.validate_title_max_marks_together", scope: "decidim.decidim_awesome.admin.config.form") %></p>

          <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :validate_title_max_marks_together, constraints: constraints_for(:validate_title_max_marks_together) }) %>
        <% end %>
      </div>
<% end %>

<% if config_enabled? %i(validate_body_min_length validate_body_max_caps_percent validate_body_max_marks_together validate_body_start_with_caps) %>
  </div> <!-- .card-section -->
  </div><!-- .card -->

  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t("validators.body", scope: "decidim.decidim_awesome.admin.config.form") %></h2>
    </div>
    <div class="card-section">
        <% if config_enabled? :validate_body_start_with_caps %>
          <%= form.check_box :validate_body_start_with_caps %>

          <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :validate_body_start_with_caps, constraints: constraints_for(:validate_body_start_with_caps) }) %>
        <% end %>

        <% if config_enabled? :validate_body_min_length %>
          <%= form.number_field :validate_body_min_length %>
          <p class="help-text"><%= t("help.validate_body_min_length", scope: "decidim.decidim_awesome.admin.config.form") %></p>

          <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :validate_body_min_length, constraints: constraints_for(:validate_body_min_length) }) %>
        <% end %>

        <% if config_enabled? :validate_body_max_caps_percent %>
          <%= form.number_field :validate_body_max_caps_percent %>
          <p class="help-text"><%= t("help.validate_body_max_caps_percent", scope: "decidim.decidim_awesome.admin.config.form") %></p>

          <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :validate_body_max_caps_percent, constraints: constraints_for(:validate_body_max_caps_percent) }) %>
        <% end %>

        <% if config_enabled? :validate_body_max_marks_together %>
          <%= form.number_field :validate_body_max_marks_together %>
          <p class="help-text"><%= t("help.validate_body_max_marks_together", scope: "decidim.decidim_awesome.admin.config.form") %></p>

          <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: :validate_body_max_marks_together, constraints: constraints_for(:validate_body_max_marks_together) }) %>
        <% end %>
      </div>
<% end %>
