<div class="callout warning"><%= t("caution", scope: "decidim.decidim_awesome.admin.config") %></div>
<div class="row column decidim_awesome-form">
  <% if config_enabled? :proposal_custom_fields %>
    <p class="help-text"><%= t("help.proposal_custom_fields", scope: "decidim.decidim_awesome.admin.config.form") %></p>
    <p class="help-text"><%= t("help.proposal_custom_fields_example", scope: "decidim.decidim_awesome.admin.config.form") %></p>
    <p class="help-text"><%= t("help.proposal_custom_fields_translations", scope: "decidim.decidim_awesome.admin.config.form") %></p>

    <% form.object.proposal_custom_fields&.each do |key, value| %>
      <div class="proposal_custom_fields_container" data-key="<%= key %>">
        <%= render(partial: "decidim/decidim_awesome/admin/config/autoedit_box_label", locals: { var: "proposal_custom_fields", key: key, scope: "proposal_custom_field_#{key}", delete_path: decidim_admin_decidim_awesome.proposal_custom_field_path(key: key) }) %>
        
        <%= hidden_field_tag key, value, name: "config[proposal_custom_fields][#{key}]" %>
        <div class="proposal_custom_fields_editor">
          <div><%= "Public fields" %></div>
          <div class="loading-spinner"></div>
        </div>       

        <%= hidden_field_tag key, value, name: "config[private_proposal_custom_fields][#{key}]" %>
        <div class="private_proposal_custom_fields_editor">
          <div><%= "Private fields" %></div>
          <div class="loading-spinner"></div>
        </div> 

        <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: "proposal_custom_field_#{key}", constraints: constraints_for("proposal_custom_field_#{key}") }) %>
      </div>
    <% end %>

    <%= link_to t(".new"), decidim_admin_decidim_awesome.proposal_custom_fields_path, method: :post %>

  <% end %>
</div>

<%= javascript_pack_tag "decidim_decidim_awesome_admin_form_exit_warn" %>
