<div class="row column decidim_awesome-form">
  <p class="help-text"><%= t("help.drag_and_drop_supported", scope: "decidim.decidim_awesome.admin.config.form") %></p>

  <% enabled_configs([:allow_images_in_full_editor, :allow_images_in_small_editor]).each do |key| %>
    <%= form.check_box key %>
    <p class="help-text"><%= t("help.#{key}", scope: "decidim.decidim_awesome.admin.config.form") %></p>

    <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: key, constraints: constraints_for(key) }) %>
  <% end %>

  <h2 class="card-title"><%= t("experimental", scope: "decidim.decidim_awesome.admin.config") %></h2>

  <% enabled_configs([:use_markdown_editor, :allow_images_in_markdown_editor]).each do |key| %>
    <%= form.check_box key %>
    <p class="help-text"><%= t("help.#{key}", scope: "decidim.decidim_awesome.admin.config.form") %></p>

    <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: key, constraints: constraints_for(key) }) %>
  <% end %>

</div>
