<div class="form__wrapper row column decidim_awesome-form">
  <% if config_enabled? :proposal_custom_fields %>
    <div class="colors-help">
      <div class="callout warning"><%= t("caution", scope: "decidim.decidim_awesome.admin.config") %></div>
      <p class="help-text"><%= t("help.proposal_custom_fields", scope: "decidim.decidim_awesome.admin.config.form") %></p>
      <p class="help-text"><%= t("help.proposal_custom_fields_example", scope: "decidim.decidim_awesome.admin.config.form") %></p>
      <p class="help-text"><%= t("help.proposal_custom_fields_translations", scope: "decidim.decidim_awesome.admin.config.form") %></p>
    </div>

    <% form.object.proposal_custom_fields&.each do |key, value| %>
      <div class="proposal_custom_fields_container" data-key="<%= key %>">
        <%= render(partial: "decidim/decidim_awesome/admin/config/autoedit_box_label", locals: { var: "proposal_custom_fields", key: key, scope: "proposal_custom_field_#{key}", delete_path: decidim_admin_decidim_awesome.proposal_custom_field_path(key: key) }) %>
        <p class="form-error is-visible"><%= errors[key.to_sym].join("<br>") if errors %></p>
        <%= hidden_field_tag key, value, name: "config[proposal_custom_fields][#{key}]" %>
        <div class="proposal_custom_fields_editor">
          <div class="loading-spinner"></div>
        </div>
        <%= render(partial: "decidim/decidim_awesome/admin/config/constraints", locals: { key: "proposal_custom_field_#{key}", constraints: constraints_for("proposal_custom_field_#{key}") }) %>
      </div>
    <% end %>

    <%= link_to decidim_admin_decidim_awesome.proposal_custom_fields_path, method: :post, class: "button button__sm button__text-secondary mr-auto" do %>
      <%= icon("add-box-line") %>
      <%= t("new", scope: "decidim.decidim_awesome.admin.config.form_proposal_custom_fields") %>
    <% end %>
  <% end %>
</div>
