<div class="form__wrapper" id="constraint-form-<%= params[:id] %>">

  <%= form.select :participatory_space_manifest, participatory_space_manifests.invert, include_blank: "---" %>
  <%= form.select :participatory_space_slug, participatory_spaces_list(@form.participatory_space_manifest).invert, include_blank: "---" %>
  <%= form.select :component_manifest, component_manifests(@form.participatory_space_manifest).invert, include_blank: "---" %>
  <%= form.select :component_id, components_list(@form.participatory_space_manifest, @form.participatory_space_slug).invert, include_blank: "---" %>
  <%= form.select :context, contexts_list.invert, include_blank: "---" %>

</div>
