<%= decidim_form_for(@form, url: constraints_path(key: params[:key]), remote: true, html: { class: "form-defaults" }) do |f| %>
  <div data-dialog-container>
    <%= icon "lock-line" %>
    <h2 tabindex="-1" data-dialog-title><%= t ".constraint" %></h2>

    <div>
      <%= render partial: "form", object: f %>
    </div>
  </div>

  <div data-dialog-actions>
    <button class="button button__sm md:button__lg button__transparent-secondary" type="button"
      data-dialog-close="<%= "new-modal-#{params[:key]}" %>">
      <%= t(".cancel") %>
    </button>

    <%= f.submit t(".save"), class: "button button__sm md:button__lg button__secondary", data: { "dialog-close": "new-modal-#{params[:key]}" } %>
  </div>
<% end %>
