<%= decidim_form_for(@form, url: constraints_path(key: params[:key]), remote: true) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".constraint" %></h2>
    </div>
    <div class="card-section">
      <%= render partial: "form", object: f %>
    </div>
  </div>
  <div class="button--double form-general-submit">
    <button type="submit" class="button" name="commit" data-close><%= t(".save") %></button>
    <button class="button hollow" type="button" data-close><%= t(".cancel") %></button>
  </div>
<% end %>
