<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t(".title") %>
    <%= link_to t(".new"), decidim_admin_decidim_awesome.new_cookie_category_path, class: "button button__sm button__secondary" %>
  </h2>
</div>

<div class="card">
  <div class="card-section p-4">
    <div class="table-scroll decidim_awesome-form">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("cookie_category.slug", scope: "activemodel.attributes") %></th>
            <th><%= t("cookie_category.mandatory", scope: "activemodel.attributes") %></th>
            <th><%= t("cookie_category.title", scope: "activemodel.attributes") %></th>
            <th><%= t("cookie_category.visibility", scope: "activemodel.attributes") %></th>
            <th class="actions"><%= t("decidim.decidim_awesome.admin.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% current_categories.each do |category| %>
            <% is_default = default_category?(category) %>
            <% is_modified = category_modified?(category) %>
            <% is_mandatory = category["mandatory"] %>
            <tr<%= " class=cookie_category-addition" unless is_default %>>
              <td><%= category["slug"] %></td>
              <td>
                <% if is_mandatory %>
                  <%= icon "check-line", class: "text-success" %>
                <% else %>
                  <%= icon "close-line", class: "text-alert" %>
                <% end %>
              </td>
              <td><%= translated_attribute(category["title"]) %></td>
              <td><%= visibility_options.invert[category["visibility"]] %></td>
              <td class="table-list__actions">
                <%= icon_link_to "list-check", decidim_admin_decidim_awesome.cookie_category_cookie_items_path(category["slug"]), t(".items"), class: "action-icon--preview" %>
                <% if is_default && is_mandatory %>
                  <span class="action-icon">
                    <%= icon "pencil-line", class: "action-icon action-icon--disabled", role: "img", "aria-label": t(".cannot_edit_mandatory") %>
                  </span>
                <% else %>
                  <%= icon_link_to "pencil-line", decidim_admin_decidim_awesome.edit_cookie_category_path(category["slug"]), t(".edit"), class: "action-icon--edit" %>
                <% end %>
                <% if is_default %>
                  <% if is_modified %>
                    <%= icon_link_to "close-circle-line", decidim_admin_decidim_awesome.cookie_category_path(category["slug"]), t(".reset"), method: :delete, class: "action-icon--remove", data: { confirm: t(".confirm_reset") } %>
                  <% else %>
                    <span class="action-icon">
                      <%= icon "close-circle-line", class: "action-icon action-icon--disabled", role: "img", "aria-label": t(".cannot_remove_default") %>
                    </span>
                  <% end %>
                <% else %>
                  <%= icon_link_to "close-circle-line", decidim_admin_decidim_awesome.cookie_category_path(category["slug"]), t(".remove"), method: :delete, class: "action-icon--remove", data: { confirm: t(".confirm_destroy") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
