<div class="card">
  <div class="bg-gray-6 p-4 rounded-t">
    <h2 class="card-title flex md:flex-row justify-between sm:flex-wrap">
      <%= t(".title") %>
      <div class="flex gap-4">
        <%= link_to t(global? ? ".see_spaces" : ".see_global"), admin_accountability_path(admins: !global?), class: "button button__sm button__transparent-secondary tiny button--title new" %>
        <span class="exports button button__sm button__secondary tiny button--simple button--title" data-toggle="export-dropdown">
            <%= t "exports.button", scope: "decidim.decidim_awesome.admin.admin_accountability" %>
            <%= icon "arrow-down-s-fill" %>
        </span>
        <div class="dropdown-pane" id="export-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
          <ul class="vertical menu add-components">
            <% %w(CSV JSON Excel).each do |format| %>
              <li class="exports--format--<%= format.downcase %> exports--registrations">
                <%= link_to t("decidim.decidim_awesome.admin.admin_accountability.exports.export_as", export_format:
                  format.upcase), export_admin_accountability_path(export_params.merge(format:)),
                            method: :post,
                            class: "focus-visible:outline-none" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </h2>
  </div>

  <%= render partial: "decidim/decidim_awesome/admin/shared/filters_with_date", locals: { i18n_ctx: "admin_accountability" } %>

  <div class="card-section p-4">
    <p class="help-text"><%= t(global? ? ".global_description" : ".description") %></p>

    <% if global_users_missing_date %>
      <div class="callout warning"><%= t(".missing_users", date: l(global_users_missing_date, format: :decidim_short)) %></div>
    <% end %>

    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t("role", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          <th><%= t("name", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          <th><%= t("email", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          <% unless global? %>
            <th><%= t("participatory_space", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          <% end %>
          <th><%= t("last_login", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          <th><%= t("created_at", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          <th><%= t("removal_date", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
        </tr>
        </thead>
        <tbody>
        <% admin_actions.each do |log| %>
          <tr class="<%= log.present.destroyed? ? "text-muted" : nil %>">
            <td><%= log.present.role_name %></td>
            <td><%= log.present.user_name %></td>
            <td><%= link_to(log.present.user_email, "mailto:#{log.present.user_email}") if log.present.user_email %></td>
            <% unless global? %>
              <td><%= link_to log.present.participatory_space_name, log.present.participatory_space_path %></td>
            <% end %>
            <td><%= log.present.last_sign_in_date %></td>
            <td><%= log.present.created_date %></td>
            <td><%= log.present.removal_date %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate admin_actions, theme: "decidim" %>
    </div>
  </div>
</div>
