<!--the modal window will be used in another pr-->
<%= decidim_modal id:"voting-cards-modal-help" do %>
  <div data-dialog-container>
    <div id="intructions-voting-cards-modal-help" class="reveal__content">
      <div class="instructions"><%= vote_instructions %></div>
      <div class="current-choice voting-voting_cards"><div class="vote-card"></div></div>
      <div class="future-dismiss">
        <%= check_box_tag "voting_cards-skip_help", current_component.id, false %>
        <%= label_tag "voting_cards-skip_help", t("decidim.decidim_awesome.voting.voting_cards.modal.skip") %>
      </div>
    </div>
  </div>
  <div data-dialog-actions>
    <button class="button button__lg button__primary hover:bg-primary vote-action"><%= t("decidim.decidim_awesome.voting.voting_cards.modal.proceed") %></button>
    <button class="button button__lg button__transparent-secondary cancel-action hollow secondary" data-close><%= t("decidim.decidim_awesome.voting.voting_cards.modal.cancel") %></button>
  </div>
<% end %>
