<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <div class="row">
    <%= settings_fields.translated :text_field, :title, label: t("decidim.decidim_awesome.content_blocks.map.title") %>
    <%= settings_fields.translated :text_field, :link_text, label: t("decidim.decidim_awesome.content_blocks.map.link_text") %>
    <%= settings_fields.translated :text_field, :link_url, label: t("decidim.decidim_awesome.content_blocks.map.link_url") %>
  </div>
  <div class="row two-buttons">
    <div><%= settings_fields.translated :text_field, :button_1_text, label: t("decidim.decidim_awesome.content_blocks.map.button_1_text") %></div>
    <div><%= settings_fields.translated :text_field, :button_1_url, label: t("decidim.decidim_awesome.content_blocks.map.button_1_url") %></div>
  </div>
  <div class="row two-buttons">
    <div><%= settings_fields.translated :text_field, :button_2_text, label: t("decidim.decidim_awesome.content_blocks.map.button_2_text") %></div>
    <div><%= settings_fields.translated :text_field, :button_2_url, label: t("decidim.decidim_awesome.content_blocks.map.button_2_url") %></div>
  </div>
  <div class="row two-buttons">
    <div><%= settings_fields.translated :text_field, :button_3_text, label: t("decidim.decidim_awesome.content_blocks.map.button_3_text") %></div>
    <div><%= settings_fields.translated :text_field, :button_3_url, label: t("decidim.decidim_awesome.content_blocks.map.button_3_url") %></div>
  </div>
  <div class="row two-buttons">
    <div><%= settings_fields.translated :text_field, :button_4_text, label: t("decidim.decidim_awesome.content_blocks.map.button_4_text") %></div>
    <div><%= settings_fields.translated :text_field, :button_4_url, label: t("decidim.decidim_awesome.content_blocks.map.button_4_url") %></div>
  </div>
  <div class="row two-buttons">
    <div><%= settings_fields.translated :text_field, :button_5_text, label: t("decidim.decidim_awesome.content_blocks.map.button_5_text") %></div>
    <div><%= settings_fields.translated :text_field, :button_5_url, label: t("decidim.decidim_awesome.content_blocks.map.button_5_url") %></div>
  </div>
<% end %>

<style>
  .two-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .two-buttons > div {
    width: 50%;
  }
</style>
