<div class="form__wrapper gap-0">
  <%= form.select :type, types_options, {}, class: "mb-8", include_blank: true %>
  <%= form.number_field :weight, class: "mb-6" %>
  <%= form.text_field :allowlist, class: "mb-6", help_text: t(".variables_help.allow_domains_list") %>
  <%= form.text_field :blocklist, class: "mb-6", help_text: t(".variables_help.block_domains_list") %>
  <%= form.check_box :block_if_detected, class: "mb-6" %>
  <%= form.check_box :enabled, class: "mb-6" %>
</div>
