<div class="card">
  <div class="bg-gray-6 p-4 rounded-t">
    <h2 class="card-title flex flex-row">
      <%= t(".title") %>
      <%= link_to t(".new"), decidim_admin_decidim_awesome.new_users_autoblock_path, class: "button button__secondary button__xs tiny button--title text-white" %>
    </h2>
  </div>
  <div class="card-section p-4">
    <p class="help-text -mt-2 mb-4"><%= t(".description").html_safe %></p>

    <div class="table-scroll decidim_awesome-form">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t(".headers.application_type") %></th>
            <th><%= t(".headers.type") %></th>
            <th><%= t(".headers.allowlist") %></th>
            <th><%= t(".headers.blocklist") %></th>
            <th><%= t(".headers.weight") %></th>
            <th><%= t(".headers.count") %></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <% current_rules.each do |item| %>
            <tr>
              <td><%= t(item["application_type"], scope: "decidim.decidim_awesome.admin.users_autoblocks.form.application_types") %></td>
              <td><%= t(item["type"], scope: "decidim.decidim_awesome.admin.users_autoblocks.form.types") %></td>
              <td><%= item["allowlist"] %></td>
              <td><%= item["blocklist"] %></td>
              <td><%= item["weight"] %></td>
              <td><%= @scores_counts[item["id"]] %></td>
              <td class="table-list__actions">
                <%= icon_link_to "pencil-line", decidim_admin_decidim_awesome.edit_users_autoblock_path(md5(item.to_json)), t(".edit"), class: "action-icon--edit" %>
                <%= icon_link_to "close-circle-line", decidim_admin_decidim_awesome.users_autoblock_path(md5(item.to_json)), t(".delete"), method: :delete, class: "action-icon--remove", data: { confirm: t(".confirm_destroy") } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= decidim_form_for(@config_form, method: :post, url: decidim_admin_decidim_awesome.detect_and_run_users_autoblocks_path, html: { class: "form-defaults awesome-edit-config" }) do |f| %>
      <div class="card pt-4">
        <div class="card-section">
          <%= render partial: "config_form", locals: { form: f } %>
        </div>
      </div>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= link_to t(".calculate_scores"), decidim_admin_decidim_awesome.calculate_scores_users_autoblocks_path, method: :post, class: "button button__sm button__secondary" %>
          <%= f.submit t(".detect_and_run"), class: "button button__sm button__secondary", data: { confirm: t(".confirm_block") } %>
        </div>
      </div>
    <% end %>
  </div>
