<section>
    <div class="item_show__header">
        <h2 class="item_show__header-title">
            <%= t(".title") %>
        </h2>
    </div>
    <div class="card-section">
        <div class="table-scroll">
            <table class="table-list">
                <thead>
                    <tr>
                        <th><%= t("auto_moderation_target.actions.name", scope: "activemodel.attributes") %></th>
                        <th><%= t("auto_moderation_target.actions.description", scope: "activemodel.attributes") %></th>
                        <th><%= t("auto_moderation_target.actions.supported_objects", scope: "activemodel.attributes") %></th>
                    </tr>
                </thead>
                <tbody>
                    <% actions_manifests.each do |action| %>
                        <td><%= t(action.name_key) %></td>
                        <td><%= t(action.description_key) %></td>
                        <td>
                            <%= action.supported_object_types.map { |type| t("auto_moderation_targets.actions.#{action.name.to_s}.supported_object_types.#{type.to_s}", scope: "decidim.decidim_awesome.admin") }.join(", ") %>
                        </td>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</section>
