<section id="awesome-process-groups" class="home__section" data-process-groups-filter>
  <h2 class="home__section-title"><%= title %></h2>
  <div class="pg-status-bar" data-filter-tabs>
    <span class="pg-filter-label"><%= t("status_label", scope: i18n_scope) %></span>
    <% status_filters.each do |filter| %>
      <button type="button"
              data-filter="<%= filter %>"
              class="process-groups-filter-tab <%= "is-active" if filter == "all" %>">
        <%= t(filter, scope: i18n_scope) %> (<%= count_for(filter) %>)
      </button>
    <% end %>
  </div>
  <% if taxonomy_filters_available? %>
    <div class="pg-taxonomy-bar" data-taxonomy-filters>
      <span class="pg-filter-label"><%= t("filter_by_label", scope: i18n_scope) %></span>
      <% taxonomy_filter_groups.each do |group| %>
        <div class="pg-filter-dropdown">
          <button type="button"
                  id="pg-trigger-<%= group[:root_id] %>"
                  class="pg-filter-dropdown__trigger"
                  data-controller="dropdown"
                  data-target="pg-panel-<%= group[:root_id] %>"
                  aria-controls="pg-panel-<%= group[:root_id] %>">
            <span><%= group[:name] %></span>
            <%= icon "arrow-down-s-line", class: "pg-filter-dropdown__arrow" %>
          </button>
          <div id="pg-panel-<%= group[:root_id] %>"
               class="pg-filter-dropdown__panel"
               aria-hidden="true">
            <% group[:items].each do |item| %>
              <label class="pg-filter-dropdown__item">
                <input type="checkbox"
                       data-taxonomy-checkbox
                       data-root-id="<%= group[:root_id] %>"
                       value="<%= item[:id] %>">
                <span><%= item[:name] %></span>
              </label>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="pg-active-tags" data-active-taxonomy-tags hidden></div>
  <% else %>
    <div class="pg-spacer"></div>
  <% end %>
  <div class="card__grid-home" data-filter-results>
    <% process_items.each do |item| %>
      <div data-status="<%= item[:status] %>" data-taxonomy-ids="<%= item[:taxonomy_ids].join(",") %>">
        <%= card_for item[:process], size: :g %>
      </div>
    <% end %>
  </div>
</section>
