<div>
    <%= form.translated :text_field, :label %>
    <%= form.text_field :url %>
    <%= form.text_field :position %>
    <%= form.text_field :target %>
    <%= form.text_field :visible %>
</div>
