<div>
    <%= form.translated :text_field, :raw_label, help_text: t(".label_help") %>
    <%= form.text_field :url , readonly: form.object.url.present? %>
    <%= form.text_field :position %>
    <%= form.select :target, target_options %>
    <%= form.select :visibility, visibility_options %>
</div>
