<main class="participatory-space__container">
  <%= announcement = render(partial: "decidim/shared/component_announcement") %>

  <%= append_stylesheet_pack_tag "decidim_decidim_awesome_iframe" %>

  <style rel="stylesheet" type="text/css">
    <% if remove_margins? %>
      <%= ".home__section { padding-left: 0;padding-right: 0;padding-bottom: 0; }" %>
      <%= ".home__section { padding-top: 0; }" unless announcement.present? %>
    <% end %>
  </style>

  <section id="<%= viewport_width? ? "iframe-block" : "html-block-html" %>" class="awesome-iframe layout-main__section">
    <%= iframe %>
  </section>
</main>
