<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <%= link_to t(".new"), decidim_admin_decidim_awesome.new_custom_redirect_path, class: "button tiny button--title" %>
    </h2>
  </div>
  <div class="card-section">
  <p class="help-text"><%= t(".description").html_safe %></p>
  <div class="row column decidim_awesome-form">
    <table class="table-list custom-redirections-table">
      <thead>
        <tr>
          <th><%= t("custom_redirect.active", scope: "activemodel.attributes") %></th>
          <th><%= t("custom_redirect.origin", scope: "activemodel.attributes") %></th>
          <th><%= t("custom_redirect.destination", scope: "activemodel.attributes") %></th>
          <th class="redirect-status"><%= link_to(t(".check_redirections"), "#", class: "button small pull-right secondary check-custom-redirections") if current_config.present? %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% current_config.each do |origin, item| %>
          <tr class="custom-redirection" data-origin="<%= origin %>" data-item="<%= item.to_json %>">
            <td><%= check item["active"] %></td>
            <td><%= link_to origin, origin, target: "_blank" %></td>
            <td><%= item["destination"] %></td>
            <td class="redirect-status"></td>
            <td class="table-list__actions">
              <%= icon_link_to "pencil-line", decidim_admin_decidim_awesome.edit_custom_redirect_path(md5(origin)), t(".edit"), class: "action-icon--edit" %>
              <%= icon_link_to "close-circle-line", decidim_admin_decidim_awesome.custom_redirect_path(md5(origin)), t(".remove"), method: :delete, class: "action-icon--remove", data: { confirm: t(".confirm_destroy") } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
