<!--the modal window will be used in another pr-->
<div class="reveal vote_proposal_modal voting-three-flag" id="threeFlagsModalHelp" data-reveal role="dialog" aria-modal="true" aria-labelledby="threeFlagsModalHelp-label">
  <div class="reveal__content">
    <div class="instructions"><%= vote_instructions %></div>
    <div class="current-choice voting-three-flags"><div class="vote-card"></div></div>
    <div class="future-dismiss">
      <%= check_box_tag "three_flag-skip_help", current_component.id, false %>
      <%= label_tag "three_flag-skip_help", t("decidim.decidim_awesome.voting.three_flags.modal.skip") %>
    </div>

    <div class="text-center">
      <button class="button vote-action"><%= t("decidim.decidim_awesome.voting.three_flags.modal.proceed") %></button>
      <button class="button cancel-action hollow secondary" data-close><%= t("decidim.decidim_awesome.voting.three_flags.modal.cancel") %></button>
    </div>
  </div>
</div>
