<div class="loading-spinner"></div>

<script id="marker-proposal-popup" type="text/x-jsrender">
  <div class="space-y-6">
    <a href="${link}" class="card__list">
      <div class="card__list-content">
        <h3 class="h4 card__list-title">{{:title.translation}}</h3>
        <div class="card__list-metadata">
          <span>
            <%= icon "account-circle-line" %>
          </span>
          <span>
            <%= icon "wechat-line" %>
          </span>
          <span>
            <%= icon "like" %>
          </span>
        </div>
      </div>
    </a>
  </div>
</script>

<script id="marker-meeting-popup" type="text/x-jsrender">
  <div class="space-y-6">
    <a href="${link}" class="card__list">
      <div class="card__list-content">
        <h3 class="h4 card__list-title">{{:title.translation}}</h3>
        <div class="card__list-metadata">
          <span>
            <%= icon "calendar-line" %>
            {{>starTime}}
            
          </span>
          <span>
            <%= icon "community-line" %>
            
          </span>
        </div>
      </div>
    </a>
  </div>
</script>

<style type="text/css">
  #awesome-map .google-map, .wrapper #awesome-map .google-map {
    height: <%= map_height %>px;
  }
  <% current_categories(categories).each do |category| %>
    .awesome_map-category_<%= category[:id] %> {
      background-color: <%= category[:color] %> !important;
    }
  <% end %>
</style>
<script>
  window.AwesomeMap = window.AwesomeMap || {};
  window.AwesomeMap.categories = <%= current_categories(categories).to_json.html_safe %>;
</script>
