<div class="loading-spinner"></div>

<script id="marker-proposal-popup" type="text/x-jsrender">
  <div class="space-y-6">
    <div class="card__list">
      <div class="card__list-content">
        <a href="{{>link}}" target="proposal">
          <h3 class="h4 card__list-title">{{:title.translation}}</h3>
          <div class="card__list-metadata">
            <span>
              <%= icon "account-circle-line" %>
              {{:authorName}}
            </span>
            <span>
              <%= icon "wechat-line" %>
              {{:totalCommentsCount}}
            </span>
            <span>
              <%= icon "like" %>
              {{:endorsementsCount}}
            </span>
            <span>
              <span class="label {{:stateClass}}">{{:humanState}}</span>
            </span>
            {{if isAmendment() }}
              <span>
                <%= icon "other" %>
                <%= t("activerecord.models.decidim/amendment", count: 1) %>
              </span>
            {{/if}}
          </div>
          <div class="text-sm">{{>address}}</div>
        </a>
        <div class="description">
         <div>{{:body.translation}}</div>
       </div>
      </div>
    </div>
  </div>
</script>

<script id="marker-meeting-popup" type="text/x-jsrender">
  <div class="space-y-6">
    <div class="card__list">
      <div class="card__list-content">
        <a href="{{>link}}" target="meeting">
          <h3 class="h4 card__list-title">{{:title.translation}}</h3>
          <div class="card__list-metadata">
            <span>
              <%= icon "calendar-line" %>
              {{:dateRange}}
            </span>
            <span>
              <%= icon "{{:icon}}", ignore_missing: true %>
              {{:meetingType}}
            </span>
          </div>
          <div class="text-sm">{{>address}}</div>
        </a>
        <div class="description">
         {{:body.translation}}
       </div>
      </div>
    </div>
  </div>
</script>

<style type="text/css">
  #awesome-map .dynamic-map {
    height: <%= map_height %>px;
  }
  <% current_categories(categories).each do |category| %>
    .awesome_map-category_<%= category[:id] %> {
      background-color: <%= category[:color] %> !important;
    }
  <% end %>
</style>
<script>
  window.AwesomeMap = window.AwesomeMap || {};
  window.AwesomeMap.categories = <%= current_categories(categories).to_json.html_safe %>;
  window.AwesomeMapProposalTexts = <%= Decidim::Proposals::Proposal::STATES.to_h { |state, _| [state, t("decidim.proposals.answers.#{state}")] }.to_json.html_safe %>;
  window.AwesomeMapMeetingTypes = <%= Decidim::Meetings::Meeting::TYPE_OF_MEETING.to_h { |type, _| [type, Decidim.icons.all[type.to_s]["icon"]] }.to_json.html_safe %>;
  window.AwesomeMapMeetingTexts = <%= Decidim::Meetings::Meeting::TYPE_OF_MEETING.to_h { |type, _| [type, t("decidim.meetings.meetings.filters.type_values.#{type}")] }.to_json.html_safe %>;
</script>
