<%= render partial: "decidim/shared/component_announcement" %>

<%= awesome_map_for map_components do %>

  <script id="legacy-marker-proposal-popup" type="text/x-jsrender">
    <div class="map-info__content">
      <h3>{{>title}}</h3>
      <div id="bodyContent">
        <div class="description">{{:body}}</div>
        <div class="map__date-adress">
          <div class="address card__extra">
            <div class="address__icon">{{:icon}}</div>
            <div class="address__details">
              <span>{{>address}}</span><br>
            </div>
          </div>
        </div>
        <div class="map-info__button">
          <a href="{{>link}}" class="button button--sc">
            <%= t(".view_proposal") %>
          </a>
        </div>
      </div>
    </div>
  </script>

  <script id="marker-proposal-popup" type="text/x-jsrender">
    <div class="map-info__content">
      <h3>{{>title.translation}}</h3>
      <div id="bodyContent">
        <div class="description">{{:body.translation}}</div>
        <div class="map__date-adress">
          <div class="address card__extra">
            <div class="address__icon">{{:icon}}</div>
            <div class="address__details">
              <span>{{>address}}</span><br>
            </div>
          </div>
        </div>
        <div class="map-info__button">
          <a href="{{>link}}" class="button button--sc">
            <%= t(".view_proposal") %>
          </a>
        </div>
      </div>
    </div>
  </script>

  <script id="marker-meeting-popup" type="text/x-jsrender">
    <div class="map-info__content">
      <h3>{{>title.translation}}</h3>
      <div id="bodyContent">
        <div class="description">{{:description.translation}}</div>
        <div class="map__date-adress">
          <div class="card__datetime">
            <div class="card__datetime__date">
              {{>startTimeDay}} <span class="card__datetime__month">{{>startTimeMonth}} {{>startTimeYear}}</span>
            </div>
            <div class="card__datetime__time">{{>starTime}}</div>
          </div>
          <div class="address card__extra">
            <div class="address__icon">{{:icon}}</div>
            <div class="address__details">
              <strong>{{:location.translation}}</strong><br>
              <span>{{>address}}</span><br>
              <span>{{:locationHints.translation}}</span>
            </div>
          </div>
        </div>
        <div class="map-info__button">
          <a href="{{>link}}" class="button button--sc">
            <%= t("decidim.meetings.meetings_map.view_meeting") %>
          </a>
        </div>
      </div>
    </div>
  </script>

  <%= stylesheet_link_tag "decidim/decidim_awesome/awesome_map/map" %>
  <style type="text/css">
    #map {
      height: <%= current_component.settings.map_height %>px;
    }
    <% current_categories.each do |category| %>
      /* TODO: remove when diching 0.22 */
      i.awesome_map-category_<%= category[:id] %> {
        margin-left: <%= category[:parent] ? "1" : "0" %>em;
      }
      .awesome_map-category-<%= category[:id] %> i {
        background-color: <%= category[:color] %> !important;
      }
    <% end %>
  </style>
  <script>
    window.AwesomeMap = window.AwesomeMap || {};
    window.AwesomeMap.categories = <%= current_categories.to_json.html_safe %>;
  </script>
  <% if version_prefix == "v0.23" %>
    <%= javascript_include_tag "decidim/decidim_awesome/awesome_map/map" %>
  <% else %>
    <%= javascript_include_tag "decidim/decidim_awesome/awesome_map/legacy_map" %>
  <% end %>
<% end %>
