
<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.text_field :name, help_text: t(".title_item_help"), readonly: @form.blocked? %>
      </div>
      <div class="row column">
        <%= form.hidden_field :type %>
        <%= form.select :type, @form.item_type_options, {}, disabled: @form.blocked? %>
      </div>
      <div class="row column">
        <%= form.translated :text_field, :service, help_text: t(".service_item_help") %>
      </div>
      <div class="row column">
        <%= form.translated :text_field, :expiration, help_text: t(".expiration_item_help"), readonly: @form.blocked? %>
      </div>
      <div class="row column">
        <%= form.translated :text_area, :description, rows: 3, class: "w-full", help_text: t(".description_item_help") %>
      </div>
    </div>
  </div>
</div>
