<div class="filters__section p-4 flex">
  <div class="fcell filter">
    <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false">
      <li class="flex">
        <a href="#" class="dropdown button button__lg button__secondary self-start">
          <%= t("filter_label", scope: "decidim.admin.filters") %>
          <%= icon "arrow-down-s-fill", class: "dropdown-filter-icon" %>
        </a>
        <%= dropdown_submenu(submenu_options_tree(i18n_ctx)) %>
      </li>
    </ul>
  </div>
  <div class="fcell search">
    <%= search_form_for(query, url: url_for, html: { class: "form-defaults form" }) do |form| %>
      <%= applied_filters_hidden_field_tags %>
      <div class="input-group flex items-center">
        <%= form.search_field(
              search_field_predicate,
              class: "input-group-field py-2 px-4 border border-gray rounded-l focus:outline-none focus:border-gray flex-1",
              label: false,
              placeholder: t(search_field_predicate,
                             collection: collection_name,
                             scope: "decidim.admin.filters.search_placeholder")
            ) %>
        <div class="input-group-button">
          <button type="submit" class="text-secondary py-2 px-4 rounded-r focus:outline-none outline-none">
            <%= icon "search-line", class: "fill-secondary w-4 h-4", aria_label: t("search_label", scope: "decidim.admin.filters") %>
          </button>
        </div>
      </div>
      <div class="input-group flex mt-4 w-full justify-center">
        <div class="input-group-field flex flex-col w-full">
          <%= form.label t("search_field_start_date", scope: "decidim.admin.filters.label") %>
          <%= form.date_field(:created_at_gteq,
                              class: "input-group-field",
                              label: false,
                              datepicker: true) %>
        </div>
        <div class="input-group-field flex flex-col w-full">
          <%= form.label t("search_field_end_date", scope: "decidim.admin.filters.label") %>
          <%= form.date_field(:created_at_lteq,
                              class: "input-group-field",
                              label: false,
                              datepicker: true) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="card-section fcell grid-x">
  <div class="cell medium-10 filter-status">
    <%= applied_filters_tags(i18n_ctx) %>
  </div>
  <div class="cell auto text-right">
    <%= admin_filters_pagination %>
  </div>
</div>
