<div class="filters__section p-4 flex mb-0">
  <div class="fcell filter dropdown__container">
    <!-- Label added to align the button vertically with other inputs -->
    <label class="form-label">&nbsp;</label>
    <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false">
      <li>
        <a href="#" class="dropdown button button__sm button__secondary">
          <%= t("filter_label", scope: "decidim.admin.filters") %>
          <%= icon "arrow-down-s-fill", class: "dropdown-filter-icon" %>
        </a>
        <%= dropdown_submenu(submenu_options_tree(i18n_ctx)) %>
      </li>
    </ul>
  </div>

  <div class="fcell search">
    <%= search_form_for(query, url: url_for, html: { class: "form form-defaults" }) do |form| %>
      <div class="form__wrapper">
        <div class="card">
          <div class="card-section">
            <div class="grid grid-cols-4 gap-x-4">
              <div class="row column search-field">
                <%= form.label search_field_predicate, t("decidim.search.term_input_placeholder"), class: "form-label" %>
                <%= form.search_field(
                      search_field_predicate,
                      class: "input-group-field",
                      placeholder: t("decidim.search.term_input_placeholder"),
                      label: false
                    ) %>
              </div>
              <div class="row column datepicker_field">
                <%= form.label :created_at_gteq, t("search_field_start_date", scope: "decidim.admin.filters.label"), class: "form-label" %>
                <%= form.date_field(:created_at_gteq,
                                    class: "input-group-field",
                                    label: false) %>
              </div>

              <div class="row column datepicker_field">
                <%= form.label :created_at_lteq, t("search_field_end_date", scope: "decidim.admin.filters.label"), class: "form-label" %>
                <%= form.date_field(:created_at_lteq,
                                    class: "input-group-field",
                                    label: false) %>
              </div>
              <div class="row column search-button-container">
                <!-- Label added to align the button vertically with other inputs -->
                <label class="form-label">&nbsp;</label>
                <button type="submit" class="button button__sm button__secondary" aria-label="<%= t("decidim.search.term_input_placeholder") %>">
                  <%= icon "search-line", class: "!fill-white w-4 h-4" %>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
