<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :description %>
      </div>
      <div class="row column">
        <%= form.check_box :enabled %>
      </div>
      <div class="row column">
        <%= form.select :rule_type, rule_type_options %>
        <span class="help-text mb-4">
          <%= t(".rule_type.help_text") %>
        </span>
      </div>
      <div class="row column">
        <%= form.text_field :rule_options, label: t(".rule_options.label") %>
        <span class="help-text mb-4">
          <%= t(".rule_options.help_text") %>
        </span>
      </div>
    </div>
  </div>
</div>
