<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <div class="card p-4">
      <div class="row column">
        <h2 class="card-title"><%= t(".targets.title") %></h2>
        <p><%= t(".targets.help_text") %></p>
      </div>
      <div class="card-section">
        <div class="table-scroll">
          <table class="table-list">
            <thead>
              <tr>
                <th><%= t("auto_moderation_target.object_type", scope: "activemodel.attributes") %></th>
                <th><%= t("auto_moderation_target.action_type", scope: "activemodel.attributes") %></th>
                <th class="actions"><%= t("decidim.decidim_awesome.admin.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% targets.each do |target_id, target| %>
                <tr>
                  <td><%= t("auto_moderation_target.object_type_options.#{target["object_type"]}", scope: "activemodel.attributes") %></td>
                  <td><%= t("auto_moderation_target.action_type_options.#{target["action_type"]}", scope: "activemodel.attributes") %></td>
                  <td class="actions">
                    <%= icon_link_to "pencil-line", decidim_admin_decidim_awesome.edit_auto_moderation_rule_target_path(params[:id], target_id), t(".targets.edit"), class: "action-icon--edit" %>
                    <%= icon_link_to "close-circle-line", decidim_admin_decidim_awesome.auto_moderation_rule_target_path(params[:id], target_id), t(".targets.destroy"), method: :delete, class: "action-icon--remove", data: { confirm: t(".targets.confirm_destroy") } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to t(".targets.add_target"), decidim_admin_decidim_awesome.new_auto_moderation_rule_target_path(auto_moderation_rule_id: params[:id]), class: "button button__sm button__secondary mt-4" %>
        </div>
      </div>
    </div>
  </div>
</div>
