<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t(".title") %>
  </h2>
  <%= link_to t(".new"), decidim_admin_decidim_awesome.new_auto_moderation_rule_path, class: "button button__sm button__secondary ml-auto" %>
</div>
<div class="card">
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("auto_moderation_rule.description", scope: "activemodel.attributes") %></th>
            <th><%= t("auto_moderation_rule.rule", scope: "activemodel.attributes") %></th>
            <th><%= t("auto_moderation_rule.objects", scope: "activemodel.attributes") %></th>
            <th><%= t("auto_moderation_rule.action", scope: "activemodel.attributes") %></th>
            <th><%= t("auto_moderation_rule.constraints", scope: "activemodel.attributes") %></th>
            <th><%= t("auto_moderation_rule.active", scope: "activemodel.attributes") %></th>
            <th><%= t("auto_moderation_rule.counter", scope: "activemodel.attributes") %></th>
            <th class="actions"><%= t("decidim.decidim_awesome.admin.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @rules&.each do |id, rule| %>
            <%
              constraints = constraints_for("auto_moderation_rules_#{id}")
              rule_targets = rule["targets"] || []
            %>
            <tr>
              <td><%= translated_attribute(rule["description"]) %></td>
              <td><%= t("auto_moderation_rules.form.rule_type.#{rule["rule_type"]}", scope: "decidim.decidim_awesome.admin") %></td>
              <td><%= rule_targets.map { |_id, target| t("auto_moderation_target.object_type_options.#{target["object_type"]}", scope: "activemodel.attributes") }.join(", ") %></td>
              <td><%= rule_targets.map { |_id, target| t("auto_moderation_target.action_type_options.#{target["action_type"]}", scope: "activemodel.attributes") }.join(", ") %></td>
              <td>
                <div class="constraints-editor !mt-0">
                  <ul>
                  <% constraints&.each do |constraint| %>
                    <li class="mb-2">
                      <% constraint.settings.reverse_each do |k, val| %>
                          <span class="label <%= k %> constraint-<%= val %>"><%= translate_constraint_value constraint, k %></span>
                      <% end %>
                    </li>
                  <% end %>
                  </ul>
                </div>
              </td>
              <td><%= check rule["enabled"] %></td>
              <td><%= rule["counter"] || 0 %></td>
              <td class="actions">
                <%= icon_link_to "bar-chart-box-line", decidim_admin_decidim_awesome.auto_moderation_rule_insights_path(id), t(".insights"), class: "action-icon--edit" %>
                <%= icon_link_to "pencil-line", decidim_admin_decidim_awesome.edit_auto_moderation_rule_path(id), t(".edit"), class: "action-icon--edit" %>
                <%= icon_link_to "close-circle-line", decidim_admin_decidim_awesome.auto_moderation_rule_path(id), t(".destroy"), method: :delete, class: "action-icon--remove", data: { confirm: t(".confirm_destroy") } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
