<div class="wrapper">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center">
      <h1 class="heading1 page-title"><%= t(".title") %></h1>
      <p class="heading5">
        <%= t(awesome_config[:force_authorization_with_any_method] ? ".verify_with_any_of_these_options" : ".verify_with_all_these_options") %>
      </p>
    </div>
  </div>

  <div class="row column authorizations-list">
    <section class="section medium-10 large-8 medium-centered" style="padding-top:2rem">
      <% if granted_authorizations.any? %>
        <h3 class="h4"><%= t(".granted_title") %></h3>
        <div class="card card--list">
          <% granted_authorizations.each do |method| %>
            <div class="card--list__item">
              <div class="card--list__text">
                <%= icon "lock-locked", class: "card--list__icon", role: "img", "aria-hidden": true %>
                  <div>
                    <h5 class="card--list__heading"><%= method.fullname %></h5>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if pending_authorizations.any? %>
        <h3 class="h4"><%= t(".resume_title") %></h3>
        <div class="card card--list">
          <% pending_authorizations.each do |method| %>
              <%= link_to method.resume_authorization_path(redirect_url: redirect_url) do %>
                <div class="card--list__item" style="padding:0.5rem 0;">
                  <div class="card--list__text">
                    <%= icon "reload", class: "card--list__icon", role: "img" %>
                    <div>
                      <h5 class="card--list__heading"><%= t(".resume_with_method", name: method.fullname) %></h5>
                    </div>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      <% end %>

      <% if missing_authorizations.any? %>
        <h3 class="h4"><%= t(".missing_title") %></h3>
        <div class="card card--list">
          <% missing_authorizations.each do |method| %>
              <%= link_to method.root_path(redirect_url: redirect_url) do %>
                <div class="card--list__item" style="padding:0.5rem 0;">
                  <div class="card--list__text">
                    <%= icon "lock-unlocked", class: "card--list__icon", role: "img" %>
                    <div>
                      <h5 class="card--list__heading"><%= t(".verify_with_method", name: method.fullname) %></h5>
                    </div>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </section>
  </div>

  <div class="row">
    <%= translated_attribute(awesome_config[:force_authorization_help_text]).html_safe %>

    <p class="text-center skip">
      <%= t(".cancel", link: link_to(t(".logout"), decidim.destroy_user_session_path(redirect_url: redirect_url), method: :delete).html_safe).html_safe %>
    </p>
  </div>
</div>
