<div class="text-center py-10">
  <h1 class="title-decorator inline-block text-left mb-12">
    <%= t(".title") %>
  </h1>
  <p class="text-lg text-gray-2 text-left">
    <%= t(awesome_config[:force_authorization_with_any_method] ? ".verify_with_any_of_these_options" : ".verify_with_all_these_options") %>
  </p>
</div>

<div class="space-y-8">
  <% if granted_authorizations.any? %>
    <div class="verification__container-title"><%= t(".granted_title") %></div>
    <div class="verification__container">
        <% granted_authorizations.each do |method| %>
            <div class="verification verification__no_clickable">
                <%= icon "checkbox-circle-line", class: "verification__icon is-granted" %>
                <div class="verification__text">
                    <h2 class="h5 text-secondary">
                    <%= method.fullname %>
                    </h2>
                </div>
            </div>
        <% end %>
    </div>
  <% end %>

  <% if pending_authorizations.any? %>
    <div class="verification__container-title"><%= t(".resume_title") %></div>
    <div class="verification__container">
      <% pending_authorizations.each do |method| %>
          <%= link_to method.resume_authorization_path(redirect_url:), class: "verification" do %>
            <%= icon "time-line", class: "verification__icon" %>
            <div class="verification__text">
              <h2 class="h5 text-secondary">
                <%= t(".resume_with_method", name: method.fullname) %>
              </h2>
            </div>
          <% end %>
      <% end %>
    </div>
  <% end %>

  <% if missing_authorizations.any? %>
    <div class="verification__container-title"><%= t(".missing_title") %></div>
    <div class="verification__container">
      <% missing_authorizations.each do |method| %>
          <%= link_to method.root_path(redirect_url:), class: "verification" do %>
            <%= icon(method.icon || "login-circle-line", class: "verification__icon") %>
            <div class="verification__text">
              <h2 class="h5 text-secondary">
                <%= t(".verify_with_method", name: method.fullname) %>
              </h2>
            </div>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="space-y-8 prose-a:text-secondary mt-8">
  <%= translated_attribute(awesome_config[:force_authorization_help_text]).html_safe %>

  <p class="prose-a:text-secondary italic">
    <%= t(".cancel", link: link_to("#{icon("logout-box-r-line", class: "inline-block").html_safe} #{t(".logout")}".html_safe, decidim.destroy_user_session_path(redirect_url:), method: :delete).html_safe).html_safe %>
  </p>
</div>
